<div class="wrapper">
    <h1>ユーザ編集</h1>

    <!-- postメソッドを使用するフォームを作成する -->
    <form action="/update" method="patch">
        <!-- ユーザIDの表示欄 -->
        <p>
            <label for="userid">
                ユーザID
            </label>
            <input class="form-control" id="user_id" type="text" name="user[UserID]" readonly="readonly" value=<%= current_user.UserID%> required>
        </p>
    <form action="/local/users" method="post">

        <!-- ユーザ名の入力欄 -->
        <p>
            <label for="username">
                ユーザ名
            </label>
            <input class="form-control" id="user_name" type="text" name="user[UserName]" required>
        </p>
              
        <p>
            <input type="submit" name="update" value="変更する" class="updatebtn" data-disable-with="変更する">
        </p>
    </form>
</div>
