<% if flash[:notice] %>
  <div class="flash-notice">
        <%= flash[:notice] %>
        <!-- 特殊文字のボタン -->
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
<% end %>
<h1>プロフィール</h1>
<p>Find me in app/views/local/users/show.html.erb</p>
